# Object files
*.o
*.ko
*.obj
*.elf
bin

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
configure
accelerando/accelerando

# Debug files
*.dSYM/

# AutoHell Tools
*.in
*.m4
autom4te.cache*
stamp-h1
config.log
config.status
config.h
.deps
.dirstamp

# Mac Files
.DS_Store
